img {
  max-width: 100%;
}

body {
  margin: 30px;
  background: #BAE8D8;

}


.clearfix {
  clear: both;
}

.icon-menu {
  font-size: 2.5em;
  float: right;
  padding-right: 10px;
}

nav ul {
  display: none;
}

.main-nav:hover ul {
  display: block;
}

@media only screen and (min-width: 640px) {
  .main-nav ul {
    display: block;
  }

  .main-nav li {
    margin-top: -20px;
    display: inline;
    font-size: 2.5vw;
    background: #777;
    float: right;
    margin-right: 5px;
  }

  .icon-menu {
    display: none;
    /*float: right;*/
  }
};



img .banner {
  /*width: 100%;*/
}

.template {
  display: inline;
}
header {
  /*background: linear-gradient(#D9FFE1, #CCE8D8);*/

}

.header-h1 {
  text-align: center;
  font-size: 3vw;
  padding: 20px 0;
  margin-top: 20px;
}

h1 {
  margin-top: 2.5em;
  font-size: 2em;
}

.title-skills {
  font-size: 3vw;
  margin-bottom: 5px;
}

.container {
  display: inline-block;
}

.title-about {
  font-size: 2.5vw;
}


footer {
   bottom:0;
   height:80px;   /* Height of the footer */
   background: linear-gradient(#D9FFE1, #CCE8D8);
}

/*footer {
  margin-bottom: 100px;
  background: #444;
  padding: 30px;
}*/

.logos {
  margin-top: -5px;
  float: right;
}

.icon-github {
  font-size: 2.5em;

}

.icon-linkedin {
  font-size: 2.5em;

}


.github {
  width: 70px;
  height: 50px;
}
.linkedin {
  width: 70px;
  height: 50px;
}

/*VIDEO CSS*/
video {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;

  /*opacity: .5*/
}
ol  li {
  list-style: none;
  display: inline;
  text-decoration: none;
  margin: 2px 0;
}

.sub-ban {
  top: -20px;
}

.break {
  padding: 150px;
}
