img {
  max-width: 100%;
}

li:nth-child(2) {
  margin-right: 10px;
}

body {
  width: 1080px;
  margin: 10px 100px;
  background:
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 20pt;
  margin: 10px 0;
  text-decoration: underline;
}

.header {
  background: #777;
  padding: 20px;
  margin-bottom: 30px;
}

.nav-bar {
  float: right;
  margin-top: -10px;
}
a {
  margin-right: 5px;
}

footer {
  margin-top: 10px;
  background: #444;
  padding: 30px;
}

.logos {
  margin-top: -5px;
  float: right;
}

.github {
  width: 70px;
  height: 50px;
}
.linkedin {
  width: 70px;
  height: 50px;
}
